.header-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  //   width: 100vw;
  padding: 0 20px;
}
.infor-header {
  display: flex;
  align-items: center;
}
.header-container img {
  width: 60px;
  height: 60px;
  border: 1px solid;
  border-radius: 60px;
}
.header-container div {
  margin: 0 10px;
}

.header-container button {
  background-color: white;
  color: red;
  border: 0 solid;
  font-size: 35px;
  cursor: pointer;
}
.content-container {
  padding: 20px;
}
.container {
  max-width: 100vw;
}
